[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CDM"]
	path = CDM
	url = https://github.com/alexanderrobitzsch/cdm
	shallow = true
	registered = true
[submodule "srm"]
	path = srm
	url = https://github.com/alexanderrobitzsch/srm
	shallow = true
	registered = true
[submodule "STARTS"]
	path = STARTS
	url = https://github.com/alexanderrobitzsch/starts
	shallow = true
	registered = true
[submodule "sirt"]
	path = sirt
	url = https://github.com/alexanderrobitzsch/sirt
	shallow = true
	registered = true
[submodule "LAM"]
	path = LAM
	url = https://github.com/alexanderrobitzsch/lam
	shallow = true
	registered = true
[submodule "miceadds"]
	path = miceadds
	url = https://github.com/alexanderrobitzsch/miceadds
	shallow = true
	registered = true
[submodule "immer"]
	path = immer
	url = https://github.com/alexanderrobitzsch/immer
	shallow = true
	registered = true
[submodule "BIFIEsurvey"]
	path = BIFIEsurvey
	url = https://github.com/alexanderrobitzsch/bifiesurvey
	shallow = true
	registered = true
[submodule "mdmb"]
	path = mdmb
	url = https://github.com/alexanderrobitzsch/mdmb
	shallow = true
	registered = true
[submodule "pbv"]
	path = pbv
	url = https://github.com/alexanderrobitzsch/pbv
	shallow = true
	registered = true
[submodule "mnlfa"]
	path = mnlfa
	url = https://github.com/alexanderrobitzsch/mnlfa
	shallow = true
	registered = true
[submodule "TAM"]
	path = TAM
	url = https://github.com/alexanderrobitzsch/tam
	shallow = true
	registered = true
