[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CDM"]
	path = CDM
	url = https://github.com/alexanderrobitzsch/cdm
[submodule "LAM"]
	path = LAM
	url = https://github.com/alexanderrobitzsch/lam
[submodule "STARTS"]
	path = STARTS
	url = https://github.com/alexanderrobitzsch/starts
[submodule "TAM"]
	path = TAM
	url = https://github.com/alexanderrobitzsch/tam
[submodule "immer"]
	path = immer
	url = https://github.com/alexanderrobitzsch/immer
[submodule "mdmb"]
	path = mdmb
	url = https://github.com/alexanderrobitzsch/mdmb
[submodule "miceadds"]
	path = miceadds
	url = https://github.com/alexanderrobitzsch/miceadds
[submodule "mnlfa"]
	path = mnlfa
	url = https://github.com/alexanderrobitzsch/mnlfa
[submodule "pbv"]
	path = pbv
	url = https://github.com/alexanderrobitzsch/pbv
[submodule "sirt"]
	path = sirt
	url = https://github.com/alexanderrobitzsch/sirt
[submodule "srm"]
	path = srm
	url = https://github.com/alexanderrobitzsch/srm
